@import '@/style/common.scss';

.download {
  min-height: 100vh;
  font-family: SourceHanSansSC-Normal;
  padding-top: 1.3rem;
  // background-image: linear-gradient(-180deg, #9eebee 0%, #bdf1ee 20%, #FFFFFF 80%);
  background: url('./images/bg.png') no-repeat center/cover;
  width: 7.5rem;
  .head {
    background: url('./images/shopping2.png') no-repeat center/cover;
    height: 4.04rem;
    width: 4.8rem;
    margin: 0 auto;
  }
  // .icons {
  //   @include flex-center(row, space-between);
  //   padding: 0 1rem;
  //   .left {
  //     background: url('./images/vegetable.png') no-repeat center/cover;
  //     width: 1rem;
  //     height: 1rem;
  //   }
  //   .right {
  //     background: url('./images/carrot.png') no-repeat center/cover;
  //     width: 1rem;
  //     height: 1rem;
  //   }
  // }
  .content {
    padding: .3rem .2rem;
    text-align: center;
    font-size: .28rem;
    line-height: .6rem;
    color: #25aeb3;
    /deep/ b {
      font-size: .36rem;
    }
  }
  .btn {
    @include bg-image('./images/btn');
    width: 7.5rem;
    position: fixed;
    bottom: 0;
    height: 1.72rem;
    font-size: .36rem;
    padding-top: .02rem;
    line-height: 1.72rem;
    letter-spacing: .1;
    .icon {
      position: absolute;
      background: url('./images/mashroom.png') no-repeat center/cover;
      width: 1rem;
      height: 1rem;
      top: -.34rem;
      right: .14rem;
    }
  }
}
